.space
    #section_1
    
        #location
            p ISS is now located at:
            span#out_location

        #map
        
    #section_2

        #time
            p Current UTC time:
            span#out_date

        #people
            span#out_people

