doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="css/main.min.css")
    title TEST
    
  body
    include sections/space
      
   
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeiP20N9zSS4SBwxXdkwr4_MPA3bmyows&callback=initMap" async defer)
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    

    script(src="js/main.min.js")